*{
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Staatliches', cursive;
  font-size: 9vw;
}

#rubrik1{
  width: 8vw;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}

header {
  background-image: url("../bilder/mainmenu.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

header img {
width: 8vw;
margin-left: 10px;
margin-right: 10px;
}


.aside img {
  width: 100%;
}

.aside a{
  background-color: black;
}

.charport {
  border-radius: 50%;
  border: 0.5vw solid black;
  background-color: black;
}


main{
  margin-top: 10%;
  text-align: center;
}

.shortcuts a{
  margin-top: 10%;
}

.shortcuts a:hover{
  filter: opacity(70%);
}

.shortcuts img{
  width: 6vw;

}

footer{
  background-color: grey;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  filter: brightness(50%);

}
@media only screen and (max-width: 750px){
  body {

  }
  header {
  background: none;
  }
  .hej{
    background-image: url("../bilder/mainmenu.jpeg");
    
  }

  #rubrik1{
    display: contents;
    z-index: 22;
  }
  #rubrik1 img{
    width: 8vw;
    margin-left: 10px;
    margin-right: 10px;
  }
  #rubrik2{
    display: none;
  }
  .shortcuts a{
    margin-left: 7px;
  }
  .shortcuts img{
    width:8vw;
  }
  .aside{

  }
  footer{

  }
}
